<footer class="flex justify-between mb-4">
    <section class="text-sm text-grey">
        © <%= Date.utc_today().year %>
        <a href="{{ url('about') }}">Sebastian De Deyne</a>
    </section>
    <%# Todo: RSS %>
    <a href="#" data-turbolinks="false" class="footer__rss">
        <span title="RSS">
            <%= svg("rss") %>
        </span>
    </a>
</footer>
